table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

th {
	background-color: green;
}

th, td, tr {
	color: white;
}

/* Source: https://www.w3schools.com/css/css_table.asp */
tr:nth-child(even){background-color: #333}
tr:nth-child(odd){background-color: #555}
